

/*银行卡  各类银行样式*/

.send_code{
	position: absolute;
	right: 5%;
	color: #00b8c3;
	height: 1.8rem;
	line-height: 1.8rem;
	border-left: 1px solid #e3e3e3;
	padding-left: 1rem;
}
.bank_type{
	display: block;
	border: none;
}


.bank_list{
	width: 90%;
	height: 7rem;
	border-radius: 10px;
	padding:0.5rem;
	margin:1rem auto;
}
.bank_list p:nth-child(2){
	line-height: 3.2rem;
	margin-top: 0.5rem;
	color: #fff;
	text-align: right;
	position: relative;
}
.bank_list p:nth-child(2):before{
	content: ' ';
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0.3;
	border-top:1px solid #fff;
}
.bank_bd{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	color: #fff;
}
.bank_bd span{
	display: block;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	-ms-box-flex:1.0;
	box-flex:1.0;
}
.bank_bd span:nth-child(2){
	-webkit-box-flex:2.0;
	-moz-box-flex:2.0;
	-ms-box-flex:2.0;
	box-flex:2.0;
	font-size: 1.3rem;
}
.bank_bd span:nth-child(2) em{
	font-style: normal;
	font-size: 1rem;
}
.bank_bd span:nth-child(1) img{
	width: 2.2rem;
	height: 2.2rem;
	padding:0.5rem;
	border-radius: 50%;
	background: #fff;
}
.bank_bd span:nth-child(3){
	text-align: right;
	line-height: 3rem;
}
.zsbank{
	background: #f24e4a;
}
.pfbank{
	background: #1e2585;
}
.gsbank{
	background: #cc0e22;
}
.jsbank{
	background: #023d8d;
}
.bjbank{
	background: #e11426;
}
.gdbank{
	background: #ebb435;
}
.zgbank{
	background: #b61f28;
}
.msbank{
	background: #0f73ba;
}
.xybank{
	background: #004384;
}
.hxbank{
	background: #d9091f;
}
.gdfzbank{
	background: #0b4b96;
}
.yzbank{
	background: #007d40;
}
.jtbank{
	background: #1e2585;
}
.jxbank{
	background: #d4071d;
}
.nybank{
	background: #199274;
}
.dybank{
	background: #e30920;
}
.wzbank{
	background: #f8a531;
}
.tjbank{
	background: #00509f;
}
.hbbank{
	background: #124669;
}
.shnsbank{
	background: #00499a;
}
.gfbank{
	background: #e30d2c;
}
.pabank{
	background: #da5121;
}
.wsbank{
	background: #00509f;
}
/**/
.new_bank {
	height: 3.5rem;
}
.new_bank span:last-child{
	padding-right: 0.833333rem;
	line-height: 1.8rem;
}
.bank_ka {
	margin-top: 1.666667rem;
	border-top: 1px dashed #e3e3e3;
	padding-top: 0.833333rem
}
.bank_add {
	border-radius: 0.416667rem;
	padding-left: 2.5rem
}
.bank_plus {
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	top: 1rem;
	left: 1.8rem;
} 
.kj_pay input{
	float: left;
}
.kj_pay a{
	float: left;
	color: #00b8c3;
	text-decoration: underline;
	margin-right: 0.6rem
}
.kj_pay p{ 
	float: left;
}
.marinLe1rem{
	margin-left: 0.6rem;
	margin-bottom: 0.5rem
}
.marinLe1rem p.tips{
	font-size: 0.8rem;
	margin-left: 1rem;
	padding-top: 0.4rem
}
.b_error_tips{
	color: #f00; 
}
.marinTop1rem{
	margin-top: 1rem;
	margin-bottom: 0.5rem
}
.marinTop1rem a{
	color:#00b8c3;
	margin-right: 1rem
}
.bank_card_tips{
	margin-left: 0.2rem;
	margin-top: 1rem;
}
.change_b_card{
	float: right;
	margin-right: 1rem;
	text-decoration: underline;
	color: #00b8c3;
}