body{
	background: #f8f8f8;
}

.pro_details{
	background:#00b8c3;
	background-size: 100%;
	padding: 1.5rem 0;
}
.pro_details p {
	text-align: center;
	color: #fff;
}
.pro_details p:nth-child(2){
	padding: 1rem 0;
	font-size: 5rem;
	font-family: 'Arial';
}
.pro_details p:nth-child(2) em{
	font-size: 1.5rem;
}
.pro_details p:nth-child(3) span:after{
	content: '|';
	margin: 0 0.3rem;
}
.pro_details p:nth-child(3) span:nth-child(3):after{
	content: '';
	margin: 0;
}
.pro_details p.percent{
	line-height: 3rem; 
}
.pro_details p.percent span{
	width: 70%;
	background: #02939c;
	border-radius: 5px;
	height: 0.4rem;
	display: inline-block;
	vertical-align: top;
	margin-top: 1.35rem;
	margin-right: 6px;
}
.pro_details p.percent span em{
	background: #fff;
	display: block;
	font-style: normal;
	height: 0.4rem;
	border-radius: 5px;
}
.back_list h2{
	border-top: 1px dashed #e3e3e3;
	text-indent: 2em;
	padding: 1rem 0;
	line-height: 1.5rem;
}


.pro_total{
	 border:none;
}

.pro_btn{
	position: fixed;
	width: 100%;
	bottom: 0;
	margin: 0;
}
.pro_btn .wechat_btn{
	border-radius: 0;
	background : #ccc;
}
.pro_btn .purchase_b{
	background: #00b8c3;
}
.pro_btn .color_btn{
	background: #00b8c3;
}
.pro_tite{
	line-height: 2rem;
}
.pro_btnbox{
	text-align: center;
}
.pro_success{
	text-align: center;
	font-size: 1.5rem;
	color: #000;
	padding: 2rem 0;
	line-height: 3rem;
}
.pro_colse{
	width: 40%;
	margin: 2rem 0.6rem;
}
.pro_x_y{ color: #00b8c3; text-decoration: underline;}
.back_list h2.pro_cod_d {  text-indent: 0;}
.back_list h2 span{ display: inline-block; width: 100%;}
.back_list h2 span:nth-child(odd){ color: #00b8c3; padding: 0.5rem 0;}
.cash_pro_ti{background: #fff; border-bottom: 1px solid #e3e3e3; padding: 0.5rem 0;padding-left: 0.8333333rem;margin-bottom: 1rem}
.cash_pro_ti p:nth-child(1){font-size: 1.3rem; color: #000; line-height: 2rem;}
.cash_pro_ti p:nth-child(2){display: -webkit-box; display: box; width: 100%; line-height: 1.8rem;}
.cash_pro_ti p:nth-child(2) span{ -webkit-box-flex:1.0; box-flex:1.0; display: block;}
.migration_box p{
	color: #666;
	line-height: 2rem;
}
.migration_box p:nth-child(1){
	border-bottom: 1px solid #f8f8f8;
	font-size: 1.2rem;
}
.migration_box p em{
	 color: #fd8023;
	 font-style: normal;
}
.migration_box .cash_tips{
	background-position: left 10px;
	border-bottom: 1px solid #f8f8f8;
	padding-bottom: 1rem;
}
.cash_pro_ti .tips{
	font-size: 0.8rem;
	line-height: 1.2rem;
}
.pro_details ul{
	width: 70%; 
	margin-left: 15%;
} 
.pro_details ul li{
	font-size: 1rem;
	color: #99e3e7
}
.pro_details ul li.fl{
	width: 60%;
	text-align: center;
	border: 1px solid #99e3e7;
	border-radius: 1rem
}
.pro_details ul li.fr{
	width: 36%;
	text-align: center;
	border: 1px solid #99e3e7;
	border-radius: 1rem
}
.pro_details p.first{
	padding-top: 0rem;
}
.pro_details p.percent2{
	position: relative;
	left: -10%
}
.pro_details p.percent2 b{
	position: absolute;
	font-size: 1.3rem;
	top: 1.4rem;
	font-weight: normal;
	left: 72%;
	background: url(../images/percent_bg_03.png) no-repeat;
	display: block;
	width: 6rem;
	height: 3rem;
	color: #ff8000;
	padding-top: 0.5rem;
	}
ul.uls.clearfix{
	background: #f2f8f8;
	padding-left: 5%;padding-right: 5%;
	line-height: 2.6rem;
	border-bottom: 1px solid #e3e3e3
}