@charset "utf-8";
/* CSS Document */
a,img,button,input,textarea{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}
body,h1,h2,h3,h4,h5,p,form,button,dl,dd,dt {
	margin:0; padding:0; font-size:100%;
}
img {
	border:0;
}
body {
	background:#f8f8f8; height:100%; font-family:'微软雅黑'; color:#999;
}
ul,ol,dl,dd,dt {
	list-style:none; margin:0; padding:0;
}
h1,h2,h3,h4 {
	font-weight:normal; font-size:100%;
}
a,img,button,input,textarea {
	outline:none; border:none; background:none;
}
a {
	color:#333; text-decoration:none;
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
input {
	font-family: '微软雅黑', Arial, sans-serif;
}
input[placeholder] {
	line-height: 130%
}
/*a:hover {
	color:#ff8000; text-decoration:none; background:none;
}*/

/*media响应式*/

@media screen and (max-width:320px) {
	html,body {
		 font-size:14px;
	}
}
@media screen and (min-width:320px) and (max-width: 360px) {
	html,body {
		 font-size:16px;
	}
}
@media screen and (min-width: 360px) and (max-width: 400px) {
	html,body {
		 font-size:16px;
	}
}
@media screen and (min-width: 400px) and (max-width: 440px) {
	html,body {
		 font-size:18px;
	}
}
@media screen and (min-width: 440px) and (max-width: 480px) {
	html,body {
		 font-size:20px;
	}
}
@media screen and (min-width: 480px) and (max-width: 520px) {
	html,body {
		 font-size:22px;
	}
}
@media screen and (min-width: 520px) and (max-width: 560px) {
	html,body {
		 font-size:24px;
	}
}
@media screen and (min-width: 560px) and (max-width: 600px) {
	html,body {
		 font-size:26px;
	}
}
@media screen and (min-width: 600px) {
	html,body {
		 font-size:28px;
	}
}


.per_icon{
	background: url('../images/per_indexicon.png') no-repeat;
	background-size: 100%;
	width: 2rem;
	height: 2rem;
}

.wechat_btn{
	background: #00b8c3;
	color: #fff;
	width: 100%;
	text-align: center;
	line-height: 2.5rem;
	border-radius: 5px;
	display: inline-block;
}
.wechat_btnb{
	color: #00b8c3;
	width: 100%;
	text-align: center;
	line-height: 2.5rem;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #00b8c3;
}
.text_color{
	color: #ff8000;
	font-weight: normal;
}
