body{
	background: #fff;
}

.indexbox{
	display: -webkit-box;
	display: -ms-box;
	display: -moz-box;
	display: box;
}
.indexbox a{
	display: block;
	-webkit-box-flex:1.0;
	-ms-box-flex:1.0;
	-moz-box-flex:1.0;
	box-flex:1.0;
	text-align: center;
	border-bottom: 1px solid #dddddd;
	position: relative;
	line-height: 3rem;
	height: 3rem;
}
.indexbox a.active{
	border-bottom: 1px solid #00b8c3;
	color: #00b8c3;
}
.indexbox a.active:after{
	content: '';
	width:0; 
    height:0; 
    border-left:3px solid transparent;
    border-right:3px solid transparent;
    border-bottom:3px solid #00b8c3;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -1.5px;
}
.indexpro_box{
	background: url(../images/index_probj.png) #f0feff bottom no-repeat;
	background-size: 100%;
	padding: 1.5rem;
	position: relative;
}
.indexpro_box .per_icon{
	position: absolute;
	right: 5%;
	top: 5%;
}
.index_probox{
	border-radius: 50%;
	width: 19rem;
	height: 19rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.indexpro_list{
	border: 10px solid #e8f3f5;
	border-radius: 50%;
	width: 18rem;
	height: 18rem;
}
.pro_listbottom{
	background: #f0feff;
	width: 18rem;
	height: 18rem;
	position: absolute;
	bottom: -7.5rem;
	left: 50%;
	margin-left: -9rem;
	transform: rotate(45deg);
	z-index: 1;
}
.listbox{
	width: 9rem;
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -4.5rem;
	top: 2.5rem;
}
.listbox p{
	text-align: center;
}
.listbox p:nth-child(1){
	border-bottom: 1px solid #eeeeee;
	font-size: 1.2rem;
	line-height: 3rem;
	color: #999;
	width: 7.5rem;
	margin: 0 auto;
}
.listbox p:nth-child(2){
	font-size: 3.5rem;
	font-weight: bold;
	color: #ff8000;
	position: relative;
	padding: 0.5rem 0;
}
.listbox p em{
	font-size: 1.5rem;
	font-style: normal;
}
.listbox p a{
	color: #00b8c3;
}
.plus_pro{
	width: 3rem;
	height: 1.5rem;
	line-height: 1.5rem;
	position: absolute;
	right: -2rem;
	border-radius: 10px;
	border: 2px solid #ff8000;
	font-size: 0.8rem;
	top: 0.5rem;
}
.plus_pro:after, .plus_pro:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 10%;
  position: absolute;
  width: 0;
}
 
.plus_pro:after {
  border-width: 3px;
  border-top-color: #f0feff;
  top: 1.49rem;
  left: 16%;
}
 
.plus_pro:before {
  border-width: 6px;
  border-top-color: #ff8000;
  top: 1.5rem;
}
.prodate_list{
	position: absolute;
	bottom: 2rem;
	width: 100%;
	z-index: 10;
	text-align: center;
	left: 0;
}
.prodate_list span{
	display: inline-block;
	width: 5rem;
	margin: 0 0.5rem;
	line-height: 2rem;
	border: 1px solid #b6e9ec;
	border-radius: 5px;
	text-align: center;
	color: #999;
}
.prodate_list span.active{
	background: url(../images/index_proactive.png) left top no-repeat;
	border: 1px solid #ff8000;
	color: #ff8000;
}
.pro_state{
	width: 90%;
	margin: 0 auto;
	line-height: 3rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}
.pro_state span{
	-webkit-box-flex:1.0;
	-ms-box-flex:1.0;
	-moz-box-flex:1.0;
	box-flex:1.0;
	display: block;
	font-size: 0.8rem;
	padding-left: 30px;
}
.pro_state span:nth-child(1){
	background: url('../images/index_proicon1.png') left no-repeat;
}
.pro_state span:nth-child(2){
	background: url('../images/index_proicon2.png') left no-repeat;
}
.pro_state span:nth-child(3){
	background: url('../images/index_proicon3.png') left no-repeat;
}
.index_probtn{
	width: 90%;
	margin: 1rem auto;
}
.pro_total{
	background: #fff;
    border-bottom: 1px solid #e3e3e3; 
    margin: 0 auto;
    padding: 0.5rem 0;
    padding-left: 5%;
    padding-right: 5%;
}
.pro_total p{
	line-height: 2rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box; 
}
.pro_total p span{
	-webkit-box-flex:1.0;
	-ms-box-flex:1.0;
	-moz-box-flex:1.0;
	box-flex:1.0;
	display: block;
}
.pro_total p:nth-child(1) span{
	color: #ff8000;
}
.pro_total p:nth-child(1) span:nth-child(2), .pro_total p:nth-child(2) span:nth-child(2){
	text-align: right;
}

