.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
 
body{background: #f8f8f8;font-family: "微软雅黑"}
.personal .header_icon{width: 100%;height: 5em;background: #fff;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;margin-top: 1.875em}
.personal .header_icon ul li{line-height: 5em;padding-left: 4%;padding-right: 4%}
.personal .header_icon ul li p{font-size: 1em;color: #333333;float: left;}
.personal .header_icon ul li img{width: 4em;float: right;margin-top: 0.5em}
.personal .per_mess{width: 100%;background: #fff;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;margin-top: 1.25em}
.personal .per_mess li{padding-top: 0.8em;padding-bottom: 0.8em;margin-left: 4%;padding-right: 4%;font-size: 1em;color: #333333;border-bottom: 1px solid #e3e3e3;}
.personal .per_mess li.bor_none{border-bottom: none}
.personal .per_mess li a{float: right;color: #999999}
.personal .password li i {margin-top:-1.16rem;display:block;margin-left:2.2rem}
.personal .password li i img{width: 0.6em;margin-top: -0.2em;}
.password_change form{margin-top: 1.5em} 
.password_change .old_passw{/*background: #fff;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;*/font-size: 1em;color: #333}
.password_change .old_passw li{/*padding: 0em 4% 0em 4%;*/position: relative;}
.password_change .old_passw li p{position: absolute;padding: 0em  4% 0em 4%;line-height: 2.7em;}
.password_change .old_passw li input{/*padding: 0em  4% 0em 4%;*/text-indent: 4em;font-family: "微软雅黑"; width: 100%;font-size: 1em;display: block;line-height: 2.4em;background: #fff;border-bottom:1px solid #e3e3e3;border-radius: 0em;border-top: 1px solid #e3e3e3 }
.password_change .tips{width: 92%;padding: 0 4% 0 4%;font-size: 1em;margin-top: 0.4em;}
.password_change .tips p{float: left;color: #f80000;font-size: 0.8em} 
.password_change .tips a{float: right;color: #00b8c3;font-size: 0.8em}
.password_change .new_passw{margin-top: 0.6em}
.password_change .tips p.gray{color: #999999}
.password_change .tips img{width: 1em;float: left;margin-right: 0.4em}
.password_change button.sure{width: 92%;height: 2.6em;background: #ededed;border-radius: 0.4em;margin-left: 4%;font-size: 1em;font-family: "微软雅黑";color: #cccccc;margin-top: 2em}
.password_change button.sure_blue{width: 92%;height: 2.6em;background: #00b8c3;border-radius: 0.4em;margin-left: 4%;font-size: 1em;font-family: "微软雅黑";color: #fff;margin-top: 2em}
.pas_cha_suce dl.change_suce{width: 46%;margin-left: 27%;height: 20%;background: #000;opacity: 0.5;margin-top: 1em;border-radius: 1em}
.pas_cha_suce dl.change_suce dt img{width: 26%;margin-left: 38%;padding-top: 2em}
.pas_cha_suce dl.change_suce dd{font-size: 1em;color: #FFF;text-align: center;padding-bottom: 1.3em;padding-top: 0.3em}
.personal .set_tips p.orange{color: #ff8000;margin-bottom: 0.5em}
.passw_set .set_tips{margin-top: 0}
.passw_set .yanzm{width: 100%;line-height: 2.4em;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;font-size: 1em;color: #333;background: #fff;}
.passw_set .yanzm input{width: 63%;padding-left: 4%;font-size: 1em;font-family: "微软雅黑";float: left;height: 3em}
.passw_set .yanzm input.verifyCode{display: block;width: 30%;border-left: 1px solid #e3e3e3;color: #00b8c3;font-family: "微软雅黑"; float: right;
    text-align: center;}
.personal .btns{margin-left: 4%;margin-right: 4%;margin-top: 2em}
.personal .btns a{width: 44%; text-align: center; background: #00b8c4;font-size: 1em;font-family: "微软雅黑";height: 2.6em; line-height: 2.6em; border-radius:0.4em;color: #fff}
.personal .btns a.login{float: left;}
.personal .btns a.register{float: right;background: #fff;border:1px solid #00b8c4;color: #00b8c4}
.personal .agreement,.wx_cash .agreement{margin-left: 4%;color: #00b8c4;margin-top: 1em;text-decoration: underline;}
span.error{font-size: 0.8em;color: #f00;padding-left: 4%}
.tips{margin-bottom: 0.6em}
.passw_set .yanzm input.verifyCode{margin-top: 0.5em; height: 2rem;}
.wx_cash .tips p{float: left;color: #f80000;font-size: 0.8em;margin-left: 5%; margin-top: 0.4rem;}
.cash_tips{margin-top: 1rem}
.myinvite2{border-bottom: 1px solid #eee;}
.myinvite .month{margin-bottom: 1rem;text-align: center;}
.myinvite .add_bor{border-top: 1px solid #eee;} 
.myinvite p.title{padding-left: 3%;line-height: 2.6rem;margin-top: 0.4rem}
.myinvite li{float: left;font-size: 1rem;line-height: 2rem}
.myinvite li:nth-child(1){width: 57%;padding-left: 3%}
.myinvite li:nth-child(2){width: 37%;padding-right: 3%}
.myinvite li span.yes{color: #21ca00}
.myinvite li span.error{color: #f00}
/*.show_invi{display: none;}*/
.my_invites a{margin-left: 2rem;text-decoration: underline;color: #00b8c3}
.reg_gray {
	color: #999!important;
}