
.fr {
	float: right;
}
.fl {
	float: left;
}
/*边距、填充*/
.mt_10 {
	margin-top: .5rem;
}
.mt_30 {
	margin-top: 1rem;
}
.mt_40 {
	margin-top: 2rem;
}
.ml_1rem{
	margin-left: 1.1rem;
}
.padding10 {
	padding: 0.833333rem;
}
.padding5 {
	padding: 0.416667rem 0.833333rem;
}
.pad8 {
	padding: 0.666667rem 0;
}
.pad10 {
	padding: 0 0.833333rem;
}
.margin {
	margin: 0.416667rem 0.833333rem;
}
/*字体大小*/
.wx_size20 {
	font-size: 1.3rem!important;
}
.wx_size18 {
	font-size: 1.1rem;
}
.wx_size10 {
	font-size: 0.833333rem;
}
/*清楚浮动*/
.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*数字字体*/
.font {
	font-family: Arial, sans-serif;
	font-size: 1rem;
}
/*下边线*/
.bb {
	border-bottom: 1px solid #e3e3e3;
}
/*上边线*/
.bt {
	border-top: 1px solid #e3e3e3;
}

/*点睛色/文字颜色*/
.wx_bright {
	color: #ff8000!important;
}
.wx_red {
	color: #f80000
}
.wx_grey,.wx_time {
	color: #999!important;
}
.wx_black {
	color: #666;
}
.wx_Bigblack {
	color: #333;
}
.wx_blue {
	color: #1db8c3;
}
/*文字居右、居中*/
.right {
	text-align: right;
}
.text_center {
	text-align: center;
}
/****************************
			消息
*****************************/
.list_too  span.di{
	background: #1dc295;
	width: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	color: #fff;
	float: left;
	display: block;
	margin-top: 0.5rem;
	border-radius: 0.2rem;
}
.list_too  span.xin{
	background: #fd8023;
}
.list_too .clearfix .wx_Bigblack{
	float: left;
}
/*白色背景*/
.wx_news, .bg {
	background: #fff;
}
.wx_news ul li {
	color: #333;
	z-index: 99;
}
/*小三角图片*/
.pro_d {
	color: #666;
}
.wx_news ul li p span {
	display: inline-block;
	width: 100%;
}
.wx_news ul li p {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}
.wx_news ul li p, .pro_d.wx_current p  {
	border-bottom: 0.12rem solid #e3e3e3;
	margin-left: 0.8333rem;
	padding-right: 10%;
	background: url(../images/wx_down.png) no-repeat 96% center;
	background-size: 5%;
}
.wx_news ul li.wx_current p, .pro_d p{
	background: url(../images/wx_up.png) no-repeat 96% center;
	background-size: 5%;
}
.pro_d.wx_current p{
	border-bottom: none;
	margin-left: 0;
	color: #666;
}
.pro_d.wx_current {
	background: #fff;
}
/*产品详情展开↑↑↑↑*/
.pro_d_r {
	margin-right: 0.833333rem;
	display: none;
}
.pro_d_r ul.pro_yes {
	position: relative;
}
.pro_d_r ul.pro_yes li {
	background: url(../images/wx_yes.png) right center no-repeat;
	background-size: 5%;
}
.pro_d_r ul.pro_yes li:first-child {
	background: none;
}
.pro_d_r ul.pro_yes div.wx_have img {
	position: absolute;
	width: 10rem;
	height: 10rem;
	margin: 0 0 0 -5rem;
	top: 22%;
	left: 50%;
}
/*table 产品*/
table.pro_table {
	width: 100%;
}
table.pro_table tr th {
	background: #dff8f9;
	border-top: 1px solid #c5eff1;
	color: #666;
	text-align: right;
	padding: 0.583333rem;
	font-weight: normal;
}
table.pro_table tr td:first-child {
	text-align: left;
}
table.pro_table tr td:last-child {
	font-family: Arial, sans-serif;
}
table.pro_table tr td {
	text-align: right;
	padding: 0.583333rem;
}
table.pro_table tr:nth-child(odd){
	background: #f8f8f8;
}
/*展示信息*/
.wx_news_tips {	
	text-indent: 2em;
	font-size: 0.8333rem;
	line-height: 1.5rem;
	padding: 0 0.8333rem;
	padding-bottom: 1rem;
	padding-top: 0.4rem;
	color: #999;
	display: none;
}
.wx_current {
	background: #f8f8f8;
	color: #999!important;
}

/****************************
			回款
*****************************/
.wx_back {
	color: #333;
	font-size: 1.15rem;
}
.wx_back_title li {
	width: 33.33333%;
	float: left;
	text-align: center;
	border-bottom: 1px solid #e3e3e3;
	line-height: 3rem;
}
.wx_back_title li.back_current {
	border-bottom: 1px solid #1db8c2;
	background: #fff url(../images/wx_arrow.png) center bottom no-repeat;
	/*background-size: 10%;*/
	color: #1db8c2;
}

/*回款信息列表*/
.back_list {
	padding-left: 0.8333rem;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
/*	margin-bottom: 0.6rem*/
}
.back_list ul li, .back_detail ul li {
	/*border-top: 1px solid #e3e3e3;*/
	padding: .75rem 0;
	margin-right: 0.8333rem;
}
.back_list ul li div span {
	line-height: 1.75rem;
}
.back_logo {
	background: #1db8c2;
	color: #fff;
	width: 2.3rem;
	height: 2.3rem;
	padding: 0.6rem;
	text-align: center;
	font-size: .95rem;
	border-radius: 50%;
	line-height: 1.1rem;
	margin-right: 0.8333rem;
}
.back_detail h1 {
	font-size: 1.25rem;
	padding: .75rem 0;
}
.back_list ul li:first-child {
	border-top: none;
}
.back_detail ul li,.back_detail ul li:first-child {
/*	border: 1px dashed #000;*/
	color: #666;
	border-top: 1px dashed #e3e3e3;
	font-size: 1rem;
}

/*账户提现*/
.cash_bank {
	padding: 0.833333rem;
	background: #fff;
	background-size: 3%;
	display: block;
	/*background: #fff url(../images/wx_right.png) no-repeat 97% center;*/
}
/*建设银行*/
.cash_bank dl dt {
	margin-right: 0.833333rem;
	padding-top: 0.416667rem;
}
.cash_bank dl dt, .cash_bank dl dt img {
	width: 3rem;
	height: 3rem;
}
.cash_bank dl dd {
	line-height: 2.0rem;
}
/*提现提示信息*/
.cash_tips {
	background: url(../images/wx_tips.png) left center no-repeat;
	background-size: 1.1rem;
	padding-left: 1.5rem;
	margin: 0.416667rem 0.833333rem;
	font-size: 0.833333rem;
}
.bg_tips{
	background: url(../images/wx_tips.png) left top no-repeat;
	background-size: 1.1rem;
}
.wx_cash_moeny {
	padding: 0 0.416667rem;
}
.cash_btn {
	width: 100%;
	background: #00b8c3;
	border-radius: 0.416667rem;
	color: #fff;
	border: none;
	padding: 0.833333rem;
}
/*提现成功*/
.cash_success {
	width: 10rem;
	height: 6rem;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -5rem 0 0 -6rem;
	border-radius: 0.833333rem;
	padding: 2rem 1rem;
	color: #fff;
	line-height: 2.2rem;
}
.cash_success img {
	width: 3.333333rem;
	height: 3.333333rem;
}
/*灰色按钮*/
.disab {
	background: #ecebf0;
	color: #ccc;
}


/****************************
			邀请
*****************************/
.request_img, .request_img img {
	width: 15rem;
	margin: 0 auto;
}
/****************************
		  确认提现
*****************************/
.cash_confirm {
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0.0rem;
	left: 0.0rem;
}
.conf_box {
	position: fixed;
	background: #f8f8f8;
	left: 0;
	width: 100%;
	bottom: 0;
}
.conf_box h1 img {
	float: left;
	width: 0.666667rem;
	margin-top: 0.166667rem;
}
.conf_box div.back_list {
	padding-right: 0.833333rem;
}
.conf_box div.back_list ul li {
	padding-right: 0;
}
.conf_box div.back_list ul li span {
	color: #666;
}
.conf_box div.back_list {
	border-bottom: none;
}
/*提现密码*/
.conf_pass {
	border: 1px solid #999;
	border-radius: 0.416667rem;
	width: 90%;	
	margin: 0.833333rem 0 0.833333rem 0.833333rem;

	float: left;
	padding-left: 0.416667rem;
}
/*.conf_pass input {
	border: none;
	background: none;
	width: 0;
	border-radius: 0;

}*/
.conf_pass input {
	float: left;
	text-align: center;
	width: 16.3%;
	font-size: 1.5rem;
	display: block;
	padding: 0.816667rem 0;
	border-right: 1px solid #eee;
	/*-webkit-appearance: none;*/
}
.conf_pass input:last-child {
	border-right: none;
}
/*下拉箭头*/
.wx_icon {
	/*border-color: #000 transparent transparent transparent;*/
	border-color: transparent transparent #1db8c2 transparent;
	border-style: solid;
	/*border-width: 0.5rem 0.5rem 0 0.5rem;*/
	border-width: 0 0.5rem 0.5rem 0.5rem;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

/*pro List */
.pro_list {
	background: #00b8c3;
	position: relative;
	color: #fff;
}
.pro_user img {
	position: absolute;
	right: 0.833333rem;
	top: 25%;
	width: 1.8rem;
	height: 1.8rem;
}
.list_too {
	margin-bottom: 0.416667rem;
	position: relative;
	border: 1px solid #e3e3e3;
	border-radius: 0.416667rem;
}
.list_too img.list_novice {
	position: absolute;
	right: 0;
	width: 5rem;
	height: 1.2rem;
	border-radius: 0 0.416667rem 0 0;
}
.list_too img.list_left {
	position: absolute;
	left: -1px;
	top: 2.4rem;
	width: 0.416667rem;
	z-index: 9;
	height: 0.583333rem;
}
.list_too img.list_right {
	position: absolute;
	right: -1px;
	top: 2.4rem;
	width: 0.416667rem;
	z-index: 9;
	height: 0.583333rem;	
}
.pro_show {
	border-top: 1px dashed #dadada;
	position: relative;
	margin-top: 0.416667rem;
}
.pro_show ul li {
	width: 33%;
	float: left;
}
.pro_show ul li:nth-child(1){
	width: 37%;
}
.pro_show ul li:nth-child(2){
	width: 37%;
}
.pro_show ul li:nth-child(3){
	width: 26%;
}
.pro_show ul li p:nth-child(2){
		font-size: 2.1rem;
		font-family: 'Arial';
		color: #ff8000;
}
.pro_show ul li p:nth-child(2) em {
	font-size: 1.1rem;
	color: #999;
	font-style: normal;
	font-family: 微软雅黑;
}
.pro_tips {
	background: #ffd9b2;
	color: #955616;
}

/*loading*/
.wx_load {
	height: 0.166667rem;
	background: #eee;
	border-radius: 0.083333rem;
}
/*  还款进度*/
.wx_load em.repay,.wx_load em.repayment,.wx_load em.repay_succ {
	height: 0.166667rem;
	background: #93eede;
	width: 78%;
	border-radius: 0.083333rem;
	display: block;
}
.wx_load em.repayment {
	background: #93c7ee;
} 
.wx_load em.repay_succ {
	background: #93eede;
	width: 100%;
} 
.wx_load em.repay{
	width: 75%
}
.wx_loading {
	line-height: 2rem;
	padding-bottom: 0.416667rem;
}

/*success  fail  pass*/
.wx_success h2 {
	font-size: 2rem;
	line-height: 200%;
}
.wx_success img {
	width: 7rem;
	height: 7rem;
}
.wx_success {
	line-height: 180%;
}
.back_detail.sb_buy{
/*	border-top: none; */
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 3.75rem
}
.back_detail.sb_buy li{ 
	border:none; 
	padding: 0.4rem 0;
}
.back_detail.sb_buy ul li:first-child{
	border-top: none
}
.back_detail.sb_buy li a{
	color: #1db8c2
}
.indexbox.nav{
	background: #fff
}
.sb_list{
	border: none;
	margin-top: 1rem
}
.sb_list .pro_show{
	border: 1px solid #f1f5fd;
}
.sb_list .cash_bank{
	background: none
}
.sb_list .cash_bank a img{
	width: 3.4rem; 
	margin-left: 0.4em;
}
.sb_list .pro_show ul li:nth-child(1){
	width: 40%
}
.sb_list .pro_show ul li:nth-child(2){
	width: 34%
}
.sb_list .pro_show ul li:nth-child(3){
	width: 25%;  
	margin-top: -0.2rem;
}
.pro_show ul li p{
	font-size: 0.9rem
}
.pro_show ul li p:nth-child(2){
		font-size: 2.1rem;
		font-family: 'Arial';
		color: #ff8000;
}
.pro_show ul li p span{
	font-size: 1.2rem
}
.pro_show ul li p:nth-child(2) em {
	font-size: 1.1rem;
	color: #999;
	font-style: normal;
	font-family: 微软雅黑;
}
.pro_show ul li p.countdown{
	font-size: 1rem;
	margin-top: 1rem;
	color: #999;
}
.pro_show ul li p.countdown b{
	font-weight: normal;
	color: #00b8c3
}
.sb_download{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 3rem;
	background: #707070
}
.sb_download img{
	float: left;
	margin-top: 1rem
}
.sb_download p{
	text-align: center;
	line-height: 3rem;
	color: #fff
}
.paddingB3{
	padding-bottom: 3rem
}
.zqzr_je{
	width: 100%; 
	background: #00b8c3
}
.zqzr_je p{
	padding-bottom: 2rem;
	text-align: center;
	color: #fff
}
.zqzr_je p.num{ 
	padding-bottom: 0.7rem;
	font-size: 2rem
}
.zqzr_je ul{
	margin-left: 4%;
	padding-bottom: 1rem
}
.zqzr_je ul li{
	margin-right: 0.3rem;
	float: left;
	color: #fff;
	font-size: 0.9rem; 

}
.zqzr_je ul.no_fl li{
	float: none;
	text-align: center;
	font-size: 1.2rem
}
.zqzr_je ul.no_fl{
	float: left;
	width: 29%;
}
.zqzr_je ul li:nth-child(1){
	background: none
}
.zqzr_intro ul li,.zqzr_intro ul li:first-child{
	border-top: none
}
.zqzr_intro ul.add_bt{
	border-top: 1px solid #e3e3e3
}
.zqzr_intro ul li{
	color: #666;
}
.zqzr_intro ul li span{
	color: #999;
}
.zqzr_intro{
	 padding-right: 0.8333rem;
}
.zqzr_buy{
	width: 100%; 
	bottom: 0;
	height: 3rem;
	background: #00b8c3;
	position: fixed;
}
 .pro_details p {
	text-align: center;
	color: #fff;
}
.pro_details p:nth-child(1){
	font-size: 1.2rem;
	padding-top: 1.5rem;
}
.pro_details p:nth-child(2){ 
	font-size: 5rem;
	font-family: 'Arial';
}
.pro_details p:nth-child(2) em{
	font-size: 1.5rem;
}
.pro_details p:nth-child(3) span:after{
	content: '|';
	margin: 0 0.6rem;
}
.pro_details p:nth-child(3) span:nth-child(3):after{
	content: '';
	margin: 0;
}
.sb_download img{
	float: left;
	margin-top: 1rem
}
.zqzr_buy p{
	text-align: center;
	line-height: 3rem;
	color: #fff
}
.cash_pro_ti ul li{
	width: 50%;
	float: left;
	line-height: 2rem
}
p.zqzr_ips{
	margin-top: 1rem;
	color: #f00;
	font-size: 0.8rem;
	padding-left: 3%;
	padding-right: 3%
}
.wx_request .text_center a.copy{
	text-decoration: underline;
	color: #00b8c3
}
.zqzr_kzr{
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
	border-top:  1px solid #e3e3e3;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: 0.6rem;
	padding-bottom: 0.4rem
}
.zqzr_kzr h2{
	font-size: 1.2rem;
	color: #333333;
	line-height: 2.2rem
}
.zqzr_kzr ul li{
	color: #666666;
	float: left; 
	font-size: 1rem;
	line-height: 1.6rem
 }
 .zqzr_kzr ul li:nth-child(2){
 	float: right;
 }
 .zqzr_kzr ul li.last p{ 
 	color: #cccccc;
 	float: right;
 }
 .zqzr_kzr .tz{
 	margin-bottom: 0.8rem
 }
.zqzr_kzr .tz p{
	float: left;
	width: 70%;
	color: #666666;
	font-size: 1rem
}
.zqzr_kzr .tz img{
	float: right;
	width: 15%;
	margin-top: -1.8rem; 
}
.zqzr_intro .add_b{
	border-top: 1px solid #f8f8f8
}
.zqzr_intro .add_b span{
	color: #666;
	width: 65%;
}
.zqzr_intro .add_b span p{
	float: right;
}
.zqzr_fixed_bg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	position: absolute;
	bottom: 0;
}
.zqzr_fixed_con{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10rem;
	background: #fff;
}
.zqzr_fixed_con p{
	text-align: center;
	color: #666;
	margin-top:2rem
}
.zqzr_fixed_con ul li{
	margin-top: 1.6rem;
	text-align: center;
	float: left;
	width: 30%;
	margin-left: 13%;
	background: #00b8c3;
	line-height: 2.8rem;
	border-radius: 0.4rem;
}
.zqzr_fixed_con ul li a{
	color: #fff
}
.zqzr_fixed_con ul li.cancle{
	background: #fff;
	border: 1px solid #00b8c3;
}
.zqzr_fixed_con ul li.cancle a{
	color: #00b8c3
}
.home_buy_confirm p{
	color: #666;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 0.6rem
}
 
/*我的账户*/
.wx_account {

}
.wx_acc {
	height: 7.5rem;
	position: relative;
	line-height: 2rem;
}
.acc_blue {
	background: url(../images/wx_account.jpg) top #00b8c3 no-repeat;
	background-size: 100%;
	padding-top: 4.5rem;
}
.acc_photo {
	width: 6.666667rem;
	height: 6.666667rem;
	border: 1px solid #dfe0df;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: 4.5rem;
	left: 50%;
	margin-left: -3.333333rem;
}
ul.acc_jin {
	border-bottom: 1px solid #1ac2cc;
	border-top: 1px solid #1ac2cc;
}
ul.acc_jin li {
	float: left;
	border-right: 1px solid #1ac2cc;
	width: 33%;
	margin: 0.416667rem 0;
	color: #fff;
}
ul.acc_jin li:last-child {
	border-right: none;
}
ul.acc_jin li p i {
	font-size: 0.9rem;
}
/*小图标*/
.acc_icon,.acc_icon1 {
	background: url(../images/acc_iconbao.png) no-repeat;
	display: inline-block;
	font-style: normal;
	padding-left: 1.5rem;
}
.acc_icon1 {
	background: url(../images/acc_iconqian.png) no-repeat;
}

.acc_btn li {
	width: 40%;
	margin: 0 5%;
	text-align: center;
	float: left;
}
button {
	font-family: '微软雅黑', Arial, sans-serif;
}
.acc_btn li button {
	padding: 0.666667rem 0;
	border-radius: 0.416667rem;
	width: 100%;
}
.btn_cz {
	background: #fff;
	border: 1px solid #fff;
	color: #00b8c3;
}
.btn_tx {
	border: 1px solid #fff;
	color: #fff;
}

.acc_list li {
	line-height: 3rem;
	margin-left: 0.833333rem;
}
.acc_list_icon,.acc_list_icon2,.acc_list_icon3,.acc_list_icon4,.acc_list_icon5,.acc_list_icon6,.acc_list_icon7,.acc_list_icon8,.acc_list_icon9 {
	background: url(../images/acc_icon1.png) 0 0 no-repeat;
	width: 1.5rem;
	height: 1.5rem;
	background-size: 90%;
	margin-top: .75rem;
	margin-right: 0.416667rem;
}
.acc_list_icon2 {
	background: url(../images/acc_icon2.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon3 {
	background: url(../images/acc_icon3.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon4 {
	background: url(../images/acc_icon4.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon5 {
	background: url(../images/acc_icon5.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon6 {
	background: url(../images/acc_icon6.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon7 {
	background: url(../images/acc_icon7.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon8 {
	background: url(../images/acc_icon8.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list_icon9 {
	background: url(../images/acc_icon9.png) 0 0 no-repeat;
	background-size: 90%;
}
.acc_list li dl dd {
	background: url(../images/wx_right.png) 96% center no-repeat;
	background-size: 3%;
	border-bottom: 1px solid #e3e3e3;
	color: #333;
}
.acc_list li dl dd span {
	padding-right: 1.25rem;
	color: #999;
}
.acc_list li dl dd b{
	font-weight: normal;
	color: #666
}
.acc_list li:last-child dl dd {
	border-bottom: none;
}
.acc_yd {
	width: 0.666667rem;
	height: 0.666667rem;
	background: red;
	border-radius: 50%;
	display: inline-block;
}
.pro_photo {
	border-top: 1px dashed #e3e3e3;
}
.pro_photo li:nth-child(4n){
	margin-right: 0%;
}
.pro_photo li {
	width: 20%;
	background: #f9fafc;
	margin-right: 5%;
	margin-top: 5%;
	height: 4rem;
	border-radius: 0.416667rem;
	float: left;
	text-align: center;
	font-size: 0.833333rem;
	color: #666666;
}
.pro_photo li img {
	text-align: center;
	width: 40%;
	margin-top: 0.416667rem
}

/*分享*/
.wx_share {
	background: #202322;
}
.wx_share h2 {
	border-bottom: 1px solid #333;

}
.wx_share h2 img {
	width: 4%;
	margin-top: 0.25rem;
}
.sharp_box li {
	width: 19%;
	text-align: center;
	float: left;
	margin: 0.416667rem 3%;
	font-size: 0.833333rem;
	line-height: 1.5rem;
}
.sharp_box li p img {
	width: 100%;
}
.pro_show ul li:nth-child(2) p{
	color: #999
}
.pro_show ul.licai li p{
	color: #999
}
.pro_show ul.licai li p:nth-child(2){
	color: #666;
	font-size:0.9rem;
}
.sb_list .pro_show ul.licai li:nth-child(3){
	width: 26%
}
.sb_list .pro_show ul.licai li:nth-child(2) p.countdown{
	color: orange
}
.back_list .shou{
	height: 2rem;
	width: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	background: none;
	border: 2px solid #1db8c2; 
	color: #1db8c2;
}
.back_list .zhi{
	border: 2px solid #ff8000;
	color: #ff8000;
}
.back_list ul li{
	border-bottom: 1px solid #e3e3e3;
} 
.back_list ul.no_bot li{
	border-bottom: none;
}
.back_list ul.no_bot li span.fr{
	margin-top: 0.2rem;
}
.back_list ul li.last{
	border-bottom: none;
}
.back_list ul li div span{
	font-size: 1rem;
	color: #999
}
.back_list ul li div span.title{
	color: #333;
	font-size: 1.2rem
}
.back_list ul li div span.date{
	font-size: 1.2rem
}
.back_list ul li.pay_out .shou{
	color: #ff8000;
	border: 2px solid #ff8000;
}
.wx_record p.month{
	padding-left: 4%;
	background: url(../images/wx_down.png) no-repeat 96% center;
    background-size: 5%;
}
.mone_tips_succ{
	padding-left: 3%;
	padding-right: 3%;
	font-size: 0.8rem
}
.sy_record{
	padding-left: 3%;
	padding-right: 3%;
	background: #fff;
	padding-bottom: 0.5rem;
}
.sy_record h3{
	padding-top: 1.2rem;
	color: #333;
	padding-bottom:0.4rem; 
}
.sy_record ul li{
	color: #ababab;
	line-height: 2.2rem;
	font-size: 1rem;
}

 
.sy_record ul:nth-child(even){
	background: #f8f8f8;
}
.sy_record ul:nth-child(2){
	background: #dff7f9
}
.sy_record ul:nth-child(2)  li:nth-child(1){
	width: 20%
}
.sy_record ul li:nth-child(1){
	width: 20%
}
.sy_record ul:nth-child(6) li,.sy_record ul.title li{
	color: #666; 
}
.sy_record ul li span.zhuan{
	width: 1.4rem;
	line-height: 1.4rem;
	background: #fd8023;
	display: block; 
	color: #fff;
	text-align: center;
	margin-top: 0.4rem;
	border-radius: 1rem;
	margin-right: 0.2rem;
}
.sy_record ul li span.yu{
	background: #00c3a1;
}
.reu_rule{
	margin-left: 5%;
	margin-right: 5%; 
	font-size: 0.83333rem;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-top: 0.6rem;

}
.award_rule{
	border: none;
	margin-top: 0rem;	
}
.reu_rule h2{
	color: #333; 
	font-size: 1rem;
	line-height: 2rem;
}
.reu_rule ul li{
	line-height: 1.4rem;
	color: #666;
}
.sb_list{
	position: relative;
}

.linkbox {
	width: 100%;
	display: inline-block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.demo div{float:left; width:80px; }
.circliful {
    position: relative; 
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}
.circle-info, .circle-info-half {
    color: #999;
}
.circliful .fa { 
    position: relative; 
}